.grid {
    width: 560px; /* each square has 20x20 */
    height: 560px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    
}

.grid div {
    width: 20px;
    height: 20px;
    
}

.food {
    background-color: #7FD1B9;
    box-sizing: border-box;
    border: 6px solid white;
}

.pacman {
    background-color: orange;
    border-radius: 10px;
}

.wall {
    background-color: #96897B;
}

.superfood {
    background-color: #7FD1B9;
    border-radius: 10px;
}

.enemy1 {
    background-color: #DF367C;
    box-sizing: border-box;
    border: 1px solid black;
}

.enemy2 {
    background-color: #850339;
    box-sizing: border-box;
    border: 1px solid black;
}

.enemy3 {
    background-color: #f57bae;
    box-sizing: border-box;
    border: 1px solid black;
}

.enemy4 {
    background-color: #570225;
    box-sizing: border-box;
    border: 1px solid black;
}

