.grid {
    width: 560px; /* each square has 20x20 */
    height: 560px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    
}

.grid div {
    width: 20px;
    height: 20px;
    
}

.food {
    background-color: #7FD1B9;
    box-sizing: border-box;
    border: 6px solid white;
}

.pacman {
    background-color: #DBAD6A;
}

.wall {
    background-color: #96897B;
}

.enemies {
    background-color: #DF367C;
}

.superfood {
    background-color: #7FD1B9;
    border-radius: 10px;
}